################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/Application/obj/*
/Application/bin/*
/Application.UnitTests/obj/*
/Application.UnitTests/bin/*
/coverage/*
/coveragereport/*
